.DS_Store
node_modules
.idea
.tmp
.sass-cache
images/**
slides/**
builds/sassEssentials/css/style.css
npm-debug.log
builds/aaronmichael/sitemap.xml
builds/aaronmichael/robots.txt
builds/aaronmichael/mediaelement
builds/aaronmichael/images
builds/aaronmichael/audio