#intro{
  padding-left: 25px;
  padding-top: 20px;
}
@media screen and (max-width: 767px) {
  #intro{
    padding: 0;
    img{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 40px;
    }
    p{
      text-align: center;
    }
  }
}